CREATE DATABASE DEVAPP;
CREATE USER 'developer'@'%' IDENTIFIED BY '<PASSWORD>';
GRANT CREATE, ALTER, DROP, INSERT, UPDATE, DELETE, SELECT, REFERENCES, RELOAD on *.* TO 'developer'@'localhost' WITH GRANT OPTION;
FLUSH PRIVILEGES;

USE DEVAPP;

CREATE TABLE IF NOT EXISTS departments (
  DEPT INT(4) NOT NULL,
  DEPT_NAME VARCHAR(250) NOT NULL
);

INSERT INTO departments (DEPT, DEPT_NAME)
VALUES
  (1001, 'Department A'),
  (1002, 'Department B'),
  (1003, 'Department C');